body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: medium;
}
nav {
  background-color: #ffc017;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid black;
  position: sticky;
  z-index: 2;
  top: 0;
}
.logo-nav {
  height: 25px;
}
.logo-nav:hover {
  cursor: pointer;
}
#lista {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-direction: row;
}
.items {
  padding-right: 10px;
}
.items:hover {
  cursor: pointer;
}
#button-nav {
  background-color: #191919;
  padding: 10px 15px;
  border-radius: 50px;
}
#button-nav a {
  text-decoration: none;
  color: white;
}
.sottoPar {
  background-color: #ffc017;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.curioso {
  font-size: 106px;
  font-family: "Spectral", serif, italic;
  margin: 0;
}
.scopri {
  font-size: 24px;
  font-weight: 400;
}
#bottoneSottoPar {
  font-size: 22px;
  width: 213px;
  padding: 7px 20px 9px;
  text-decoration: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  border-radius: 50px;
  background-color: #191919;
  color: white;
  margin-top: 20px;
}
.parteSx {
  display: flex;
  margin-top: 60px;
  margin-left: 250px;
  flex-direction: column;
}
section {
  border-bottom: 1px solid lightgray;
  background-color: #ffffff;
  z-index: 1;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.intestazione {
  display: flex;
  margin-left: 9%;
}
.articoli1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.articoli2 {
  display: flex;
  justify-content: space-around;
}
.numero {
  font-weight: 800;
  color: #efebe8;
  font-size: 40px;
  margin-right: 10px;
}
.loghino {
  border-radius: 250px;
  margin-right: 10px;
  width: 25px;
}
.intestazione-logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  line-height: 35px;
}
.nome {
  display: contents;
  font-size: 13px;
}
article {
  display: flex;
  width: 350px;
}
.profilo {
  align-content: center;
  display: flex;
  align-items: center;
}
.city {
  font-weight: 700;
  margin: 0;
  line-height: 20px;
}
.data {
  font-size: 13px;
  color: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
}
.trend {
  font-weight: 500;
  font-size: 15px;
}
.intestazione img {
  width: 25px;
  padding-right: 10px;
}
#logone {
  border-radius: 7px;
}
.primaInt {
  display: flex;
  align-items: center;
}
.imgBassa {
  width: 20px;
  border-radius: 250px;
  overflow: hidden;
  border: 0.1px solid lightgray;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondaInt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}
.stella {
  display: flex;
  color: gray;
  margin-top: 10px;
}
.spannami {
  background-color: #e6e6e6;
  border-radius: 20px;
  width: 50px;
  text-align: center;
  margin-left: 10px;
}
.sezione {
  display: flex;
  margin-bottom: 5%;
}
.imgIntBass {
  width: 250px;
}
.neretto {
  font-weight: 900;
  font-size: x-large;
}
.nelMezzo {
  color: gray;
}
.mark {
  margin-right: 20px;
}
#spanMio {
  width: 100px;
}
.b00 {
  text-align: center;
  border: 1px solid rgba(230, 230, 230, 1);
  width: 140px;
  padding: 6px 16px;
  margin-right: 8px;
  display: inline-block;
  margin-bottom: 5px;
}
.bottoncini {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 307px;
}
.linea {
  margin-top: 20px;
  border-bottom: 1px solid lightgray;
  width: 4000px;
}
.uli {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  color: rgba(117, 117, 117, 1);
  width: 267px;
}
.tuttoDiscover {
  position: absolute;
  top: 900px;
  left: 1200px;
  margin: 5px;
}
.x {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
